{% extends "base.html" %}


{% block basehead %}
    {% block head %}{% endblock %}
{% endblock %}

{% block basecontent %}
<div class="page-container">
    <div class="top-navbar">
        <div class="navbar-logo">
            Character Sheet
        </div>
        <div hx-boost="true" class="navbar-actions">
            <a class="nav-button" href="/">Home</a>
            <a class="nav-button" href="/characters">Characters</a>
            <a class="nav-button" href="/campaigns">Campaigns</a>
            <a class="nav-button" href="/settings">Settings</a>
            <a class="nav-button" href="/logout">Logout</a>
            <div class="user-dropdown">
                {{ username }}
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
</div>

{% endblock %}
